* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* BODY */


/* Utilities */

.flex {
    display: flex;

}

.m-bt {
    margin-bottom: 10px;
}

/* Common */

.container {
    padding: 0;
    margin: auto;
    width: 80%;
}

:root {
    --common-color-1: #0282F9;
    --common-color-2: #FFFF;
    --common-color-3: #5e5e5e;
    --common-color-4: #1C1C1C;

}

.font {
    font-family: 'Open Sans', sans-serif
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



/* HEADER */

header {
    padding: 20px 20px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
}

.menu {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    gap: 30px;   
}

.menu a {
    color: var(--common-color-3);
    padding-bottom: 65px;
}

@keyframes fadeIn {
    from { color: var(--common-color-3) }
    to { color: var(--common-color-1) }
}

.menu a:hover {
    color: var(--common-color-1);
    border-bottom: 3px solid var(--common-color-1);
    animation: fadeIn 0.4s ease-in-out
}

/* MAIN */
/* Content */
.sectionContent {
    padding: 40px;
    background-color: var(--common-color-4);
    z-index: 2;
}

.sectionContent h1 {
    color: var(--common-color-2);
}

/* Menu2 */

.sectionMenu2 {
    padding: 40px 0;
    background-color: var(--common-color-1);
    position: relative;
    z-index: 2;
}

.sectionMenu2 a {
    text-decoration: none;
    color: var(--common-color-2);
    font-size: 13px;
}

.menu2 {
    justify-content: space-between;
    flex-direction: row;
}

.menu2 div {
    align-items: center;
    gap: 10px;
}

.menu2 img {
    width: 3em;
    height: 3em;
    object-fit: contain;
}

/* FOOTER */
/* First section */
.sectionFooter1 {
    background-image: url(/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 75px 0;
    position: relative;
}

.menuFooter {
    flex-wrap: wrap;
    gap: 50px;
}

.menuFooter li a {
    color: var(--common-color-3);
}

@keyframes fadeIn2 {
    from { color: var(--common-color-3) }
    to { color: var(--common-color-2) }
}

.menuFooter li a:hover {
    color: var(--common-color-2);
    animation: fadeIn2 0.4s ease-in-out
}

.menuFooter li h3 {
    color: var(--common-color-2);
}

.logoBG {
    position: absolute;
    top: -50px;
    right: 100px;
}


/* Footer section 2 */

.sectionFooter2 {
    position: relative;
    background-color: var(--common-color-4);
    padding: 30px 0;
}

.menuFooter2 {
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 12px 12px;
    color: var(--common-color-2);
    border: 3px solid var(--common-color-1);
    font-size: 17px;
    font-weight: bold;   
}

.btn:hover {
    background-color: var(--common-color-1);
}

.callToAction {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.followUs {
    color: var(--common-color-2);
    font-weight: bold;
    font-size: 17px;
}

.socials {
    gap: 15px;
}



